<a href="https://colab.research.google.com/github/sskboonmee/multivariate/blob/main/Multivariate_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ให้นักศึกษาทำข้อสอบใน Colab Notebook นี้โดยกรอกข้อมูลของตัวเองใน cell ที่ 2 แล้วรัน cell ที่ 1 - 5 และเริ่มทำข้อสอบใน cell ที่ 6 เป็นต้นไป

โดยโจทย์คือ
1. ข้อมูลโจทย์ อยู่ใน ตัวแปร ```Data```
2. ทำ clustering แล้วทำ visualize ข้อมูลแบบ 2 มิติ
3. ลด Dimension ของข้อมูลเหลือ 2 มิติ แล้วทำ clustering แล้ว visualize ข้อมูลแบบ 2 มิติ
4. เปรียบเทียบความแตกต่างของผลข้อ 2. กับ ข้อ 3.
5. เขียน comments อธิบายทุกขั้นตอน
6. อัด video อธิบาย code ทุกๆขั้นตอนรวมถึงผลแล้วอัพลง youtube ในรูปแบบ unlist 
7. commit โดยใช้ชื่อ commit เป็น link youtube ที่อธิบาย code ในข้อ 6.

กำหนดส่งวันที่ 2 พฤษภาคม 2564 (โดยให้มากรอกวันที่ commit ครั้งสุดท้ายใน sheet: https://docs.google.com/spreadsheets/d/1_qJwLDJVtOW1HxBcf_FHVc6UT4J_SOonuR6o3EEnVzw/edit?usp=sharing ช่อง Final)

In [1]:
from sklearn.datasets import make_blobs
import random,math
import numpy as np
import pandas

In [3]:
Name = 'ศศิกานต์ บุญมี'
ID = '6230205399'

In [4]:
def DataGenerator(name,id):
    random.seed(int(id[3:6]))
    numfeat = random.randint(20,30)
    ct = random.randint(len(name)-6,len(name))
    
    X, y = make_blobs(n_samples=10000, centers=ct, n_features=numfeat , random_state=int(id[3:6]))

    print(f'{id[3:6]}:{numfeat}:{ct}')
    X_t = (X[:,1]*2)+int(id[3])
    X_t2 = (X[:,-1]*5)+int(id[4])

    DT = np.append(X,X_t.reshape([10000,1]),axis=1)
    DT = np.append(DT,X_t2.reshape([10000,1]),axis=1)
    
    return pandas.DataFrame(DT)

In [5]:
Data = DataGenerator(Name,ID)

020:30:14

In [6]:
Data

            0          1          2   ...        29         30         31
0     5.779841   9.590162   7.580040  ...  2.942146  19.180325  16.710729
1    -1.969309  -5.779929  -0.479035  ...  7.465699 -11.559858  39.328496
2     3.599102   3.524340  -6.054480  ...  2.749403   7.048680  15.747013
3     2.610732   2.268904  -4.365511  ...  0.589666   4.537807   4.948332
4     1.229763   6.218683   6.069170  ...  7.252844  12.437365  38.264218
...        ...        ...        ...  ...       ...        ...        ...
9995  4.115431   7.000837  -9.653089  ...  3.938198  14.001675  21.690991
9996  8.642016 -10.310443  -4.164195  ...  4.496800 -20.620886  24.484000
9997  2.576362  -2.282850  -1.977706  ...  1.419396  -4.565701   9.096982
9998  5.623216   6.132319  -9.526871  ...  4.450119  12.264638  24.250595
9999  4.645371   6.691490 -10.926293  ...  5.503867  13.382980  29.519334

[10000 rows x 32 columns]

##Kmean

####import

In [9]:
from sklearn.cluster import KMeans

####Define

In [ ]:
kmeans = KMeans(n_clusters=3, random_state=2021)

####Fit-tranform